html, body{
	margin:0;
	padding:0;
	overflow: hidden;
	background-color:#1E293D;
	height: 100%;
}


nav .nav-wrapper{
	background-color: #1E293D;
}

.brand-logo{
	padding: 8px 10px!important;
    height: auto;
    line-height: 1;
    background: #121929;
}

.brand-logo img{
	width: 45px;
    height: 45px;
}

nav .nav-wrapper ul li{
	margin-right:8px;
}

nav .nav-wrapper ul li a{
	color:#9AA5BB;
}

nav .input-field{
	width: 100px;
    margin-right: 13px;
    overflow: hidden;
}

.inputSelect{
	overflow:visible!important;
	width: auto!important;
}


.sidebar{
	width:64px;
	margin-top:64px;
	left: 0;
	background-color: #1E293D;
}

.sidebar li{
	padding:0!important;
}

.sidebar a{
	padding: 10px 0!important;
}

.sidebar a img{
	margin:0 auto;
	display: block;
	width: 50px;
    height: 50px;
}

.canvasWrapper{
	    margin-left: 64px;
    padding: 20px;
    height: 100%;
}

.mainContent{
	height: calc(100% - 64px);
}

.canvas{
	background:#fff;
	height: 100%;
	width: 100%;
}

.btnExportWrapper{
	line-height: 0;
	    height: 64px;
	    margin-right:0!important;
}

.btnExport{
	background: #EA2C46;
    margin: 0!important;
    border-radius:0;
    color: #fff!important;
    height: 100%;
    line-height: 64px;
    text-transform: none;
}

.input-field input{
	    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e!important;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
}

.btnEnterGrid{
	color:#fff!important;
}

.navbarLeft{
	margin-left:84px;
	height: 100%;
}

.navbarGraphics li, .navbarGraphics form, .navbarGraphics form .file-field{
	height: 100%;
}

nav .input-field {
    width: auto;
    }

    .range-field{
    	    height: 64px;
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    line-height: 15px;
    padding-top: 15px;
    }

    .range-field label {
    font-size: 1rem;
}

input[type=range]+.thumb.active{
	top:0!important;
}

 .navbarGraphics form .file-field .btn{
	    height: 36px;
    line-height: 36px;
}

.btn{
	color:#fff!important;
	text-transform: none!important;
}

.textButtons a{
	margin:0!important;
	padding: 0 10px;
}

.textButtons a i{ 
line-height: 2;
	}


.widthFixed{
	width:100px!important;
}